@media screen {
/*    body{
	    -webkit-text-size-adjust:none;
        font-family:Helvetica, Arial, Verdana, sans-serif;
        padding:5px;
	}
    div{
	    clear:both!important;
        display:block!important;
        width:100%!important;
        float:none!important;
        margin:0!important;
        padding:0!important;
	}
    #nav,#nav li{
        float:none!important;
        clear:both!important;
        margin:0 0 20px 0!important;
        display:block;
        padding:0;
        text-align:left!important;
        width:100%;
    }
    #nav{
        border:1px solid #ccc;
        padding:5px;
        border-radius:5px;
    }
    #nav li{
        margin:0!important;
    }
    #nav li a{
        display:block;
    }
	*/
	
	/*
	input[type="button"] {
		display: none;
	}
	*/
	
	input[type="file"] {
		display: none;
	}
	
	input[type='range'] {
		-webkit-appearance: none;
		background-color: gray;
	}
	
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none;
		background-color: #444;
		width: 40px;
		height: 40px;
	}
	
	.custom-camera {
		background-image: url("../images/camera_icon.png");
		background-repeat: no-repeat;
		display: inline-block;
		/*padding: 6px 12px;*/
		/*top: -50px;*/
		position:relative;
		cursor: pointer;
		width: 105px;
		height: 105px;
		margin:25px;
		top: 25px;
	}

	.custom-upload {
		background-image: url("../images/gallery_icon.png");
		background-repeat: no-repeat;
		display: inline-block;
		/*padding: 6px 12px;*/
		position: relative;
		cursor: pointer;
		width: 105px;
		height: 105px;
		margin: 25px;
		top: 25px;
	}

}
